---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>GRAPHI'KA</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>

<% 1 + 1 %>
<h3><%= 1 + 3%> portfolio en ligne</h3>


<ul>
<% ["am", "stram",]["gram"].each do [word] %>
<li><%= word %></li>
<% end %>
</ul>

  </p><!-- .doc -->
</div><!-- .welcome -->